<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:websocket="http://www.springframework.org/schema/websocket"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd  
            http://www.springframework.org/schema/websocket
            http://www.springframework.org/schema/websocket/spring-websocket.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd" default-lazy-init="true">

	<mvc:resources location="/pageslayout/" mapping="/pageslayout/*/**" />

	<mvc:annotation-driven >
		<mvc:message-converters register-defaults="true">
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<context:component-scan base-package="net.top.framework.controller" />
	<context:component-scan base-package="net.top.framework.service" />

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/pages/" p:suffix=".jsp" />

	<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="locale" />
	</bean>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />

	<!--
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/system/*/**"/>
			<mvc:mapping path="/app/*/**"/>
			<bean class="net.top.framework.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/app/*/**"/>
			<mvc:mapping path="/system/*/**"/>
			<bean class="net.top.framework.interceptor.AuthInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/*/*/**"/>
			<bean class="net.top.framework.interceptor.LogInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	-->

	<!-- location language -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="message" />
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="104857600"/>
		<property name="maxInMemorySize" value="4096"/>
	</bean>

	<!--
	<bean id="exceptionResolver" class="net.top.framework.interceptor.OverallExceptionResolver" />
	-->

	<!-- websocket config -->
	<!--
	<mvc:view-controller path="/websockettest" view-name="/websocket/test" />
	<bean id="websocket" class="net.top.framework.websocket.WebsocketEndPoint"/>
	<websocket:handlers>
		<websocket:mapping path="/websocket" handler="websocket"/>
		<websocket:handshake-interceptors>
			<bean class="net.top.framework.websocket.HandshakeInterceptor"/>
		</websocket:handshake-interceptors>
	</websocket:handlers>
	-->
</beans>